h3 {
  color: #91322f;
  text-decoration: underline;
}

img {
  width: 45%;
  height: auto;
  margin: 1vh;
}

.photos {
  text-align: center;
  border-right: 2px dashed black;
  border-left: 2px dashed black;
}
