<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
    <p id="admonition" *ngIf = "chores.length > finishedChores.length">Work harder!</p>
</div>
<hr />
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
    <img [src]=targetImage alt="target with arrow in bullseye" *ngIf = "chores.length === 0 || ((finishedChores.length - chores.length) >= 3); else noAllowanceYet"/>
    <ng-template #noAllowanceYet>
        <p>No allowance yet!</p>
    </ng-template>
    <h1 *ngIf = "chores.length === 0 && finishedChores.length >= 4; else howToEarnIceCream">Ice cream treat!</h1>
    <ng-template #howToEarnIceCream>
        <h3>How to Earn Ice Cream</h3>
        <p>The chore list must be empty.</p>
        <p>The list of finished chores must have at least four items.</p>
    </ng-template>
</div>
<hr />
